/* Search Component */
.search{
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-items: center;
  align-items: center;
  position: relative;
}

.search > div{
  grid-column: 1/3;
  display: grid;
  justify-items: center;
  row-gap: 10px;
}

.form{
  grid-column: 1/3;
  width: 50%;
  display: flex;
  gap: 5px;
}

.form > input{
  margin-right: auto;
  width: 80%;
  text-indent: 10px;
  font-size: 100%;
  border: 2px solid black;
  color: grey;
}

input:focus{
  outline: none;
  color: black;
}

.search-button{
  width: 100px;
  height: 75px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
}

.search-button:hover{
  cursor: pointer;
}

.food-icons{
  position: absolute;
}

.burger{
  top: 20%;
  left: 10%;
}

.pizza{
  top: 20%;
  right: 10%;
}

/* Recipe Card */

.recipe-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  padding: 50px;
}

.recipe{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.recipe:hover{
  position: relative;
  top: -1px;
}

.recipe-button{
  font-weight: bold;
  padding: 3px 10px;
  color: rgb(12, 136, 181);
}

.recipe-button:hover{
  background-color: rgb(12, 136, 181);
  color: white;
  border: none;
}

img{
  border-radius: 5px;
  border: 2px solid black;
}

/* Screen Responsiveness */
@media only screen  and (max-width: 1000px) {
  .form{
    width: 60%;
  }
}

@media only screen  and (max-width: 800px) {
  .burger, .pizza{
    top: 40%;
  }

  .form{
    width: 90%;
  }

  .recipe-container{
    grid-template-columns: 1fr;
  }

}
